--geography used for median income ABM13 data
SELECT [mgra_13]
      ,[cocpa_13]
      ,[jurisdiction_2015]
      ,[jurisdiction_2016]
      ,[cicpa_13]
      FROM [data_cafe].[ref].[vi_xref_geography_mgra_13]